* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    line-height: 1.6;
    background-color: #C8E4B2;
}

header {
    background-color: #283e06;
    color: white;
    padding: 20px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    background-color: #7EAA92;
    padding: 20px;
    letter-spacing: 1px;
}

nav a {
    margin: 0 15px;
    border-radius: 12px;
    padding: 10px;
    color: white;
}

nav a:hover {
    transform: scale(1.05);
    transition: all 0.5s linear;
    background-color: #C8E4B2;
    color: #000000;
}

footer {
    background-color: #283e06;
    color: white;
    padding: 10px;
    width: 100%;
    letter-spacing: 2px;
}

main {
    padding: 20px;
}

.main {
    grid-area: contenido;
}

.formulario {
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    background-color: #C8E4B2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario input[type="text"],
.formulario input[type="number"] {
    width: 40%;
    height: 30px;
    padding: 3px;
    border: 1px solid white;
    color: #000000;
    background-color: #9ED2BE;
}

.formulario button {
    font-size: large;
    cursor: pointer;
    padding: 15px;
    margin-top: 10px;
    letter-spacing: 2px;
    border-radius: 30px;
    border: 1px solid white;
}

.formulario button:hover {
    background-color: #43da86;
    color: #876b94;
}

.formulario label {
    width: 50%;
    border-radius: 5px;
    background-color: #7EAA92;
    margin: 8px;
}

.usuarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caja_usuarios {
    background-color: #7EAA92;
    padding: 15px;
    margin: 10px;
    width: 30%;
    border-radius: 10px;
    color: #FFFFFF;
}

.caja_usuarios:hover {
    background-color: #6a5176;
}

h2 {
    color: #517660;
    letter-spacing: 3px;
    font-size: 24px;
    padding: 10px;
}

.caja_usuarios h3 {
    color: #C8E4B2;
    margin-bottom: 10px;
    font-size: 24px;
}

.caja_usuarios a {
    color: #6a5176;
    background-color: #f05f54;
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
    letter-spacing: 2px;
    font-size: large;
}

.caja_usuarios a:hover {
    color: #6a5176;
    background-color: #d13030;
}

.caja_usuarios h4 {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header .menuHorizontal {
    grid-area: menuHorizontal;
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.header .menuHorizontal a {
    color: white;
    height: 35px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 7px 15px;
    margin-right: 20px;
    font-family: 'Fira Sans', sans-serif;
}

.header .menuHorizontal a:hover {
    background: #589d92;
    border-radius: 10px;
}


.contenidoJ {
    display: grid;
    width: 100%;
    font-weight: 600;
    min-height: 100vh;
    margin: 0;
    grid-template-columns: auto;
    grid-template-areas:
        "recuadroImagenes recuadroImagenes recuadroImagenes recuadroImagenes recuadroImagenes"
        "recuadroInfo recuadroInfo recuadroInfo recuadroInfo recuadroInfo";
}

.imagenesJ {
    width: 180px;
}

#recuadroImagenes {
    grid-area: recuadroImagenes;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: 0px 0px 5px 0;
    background-color: #508a82e3;
}

#recuadroInfo {
    grid-area: recuadroInfo;
    display: grid;
    background-color: #31975370;
    margin: 0px 15px 0px 15px;
    gap: 20px;
    padding: 10px;
}

.tarjeta1,
.tarjeta2,
.tarjeta3,
.tarjeta4,
.tarjeta5 {
    background-color: #915a3ca9;
    border: 1px solid rgba(138, 190, 176, 0.478);
    margin: 25px;
    padding: 20px 10px 10px 10px;
    align-content: center;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: bottom;
    letter-spacing: 1px;
}

#planta1,
#planta2,
#planta3,
#planta4,
#planta5 {
    background-color: #fcfbfab5;
    border: 1px solid rgba(255, 255, 255, 0.575);
    padding: 20px;
    text-align: justify;
    letter-spacing: 1px;
    color: rgb(2, 49, 10);
    font-size: 18px;
}

#recuadroImagenes a:hover {
    color: rgb(2, 67, 49);
}

#recuadroImagenes img:hover {
    box-shadow: rgba(237, 226, 226, 0.404) 10px 10px 36px 10px;
}

.listaJ {
    list-style: circle inside;
}

.listaJ2 {
    list-style: disc inside;
}

.buttonBorrarJ,
.buttonEnviarJ {
    padding: 6px 20px;
    border-radius: 12px;
    border: 2px solid #c4c4c4;
    cursor: pointer;
}

.buttonBorrarJ {
    background-color: #e7645a;
}

.buttonBorrarJ:hover {
    background-color: #e7635ad0;
}

.buttonEnviarJ {
    background-color: #166a1cb6;
}

.buttonEnviarJ:hover {
    background-color: #166a1cd0;
}

.redondoJ {
    border: 1px solid #b7cd7f;
    color: #d4e4b4;
    background-color: #273d05;
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.redondoJ:hover {
    animation-name: cambioColor;
    animation-timing-function: linear;
}

@keyframes cambioColor {
    0% {
        background-color: #283e06;
    }

    25% {
        background-color: #3b5110;
    }

    35% {
        background-color: #465d19;
    }

    50% {
        background-color: #adce62;
    }

    75% {
        background-color: #b7cd7f;
    }

    85% {
        background-color: #586e26;
    }

    100% {
        background-color: #557419;
    }
}

/* Media queries */
@media screen and (max-width: 1200px) {
     .pantalla {
        grid-template-columns: repeat(3, 1fr);
    }

    #recuadroImagenes {
        grid-template-columns: auto auto auto;
        column-gap: 10%;
    }

    .contenidoJ {
        grid-template-areas:
            "recuadroImagenes"
            "recuadroInfo";
    }
    .formulario {
        width: 80%;
    }

}

@media screen and (max-width: 992px) {
     .pantalla {
        grid-template-columns: repeat(2, 1fr);
    }

    #recuadroImagenes {
        grid-template-columns: auto auto;
        column-gap: 0%;
    }
    .formulario {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-rows: auto;
    }

    .header {
        padding: 20px;
        min-width: 500px;
        grid-template-columns: auto auto;
        justify-content: center;
        grid-template-areas: "menuHorizontal"
                             "menuHorizontal";
    }

    #recuadroImagenes {
        margin-top: 5px;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 576px) {
     .pantalla {
        grid-template-columns: 1fr;
    }

    .imagenesJ {
        width: 0px;
    }

    #recuadroImagenes {
        grid-template-columns: auto;
    }

    #recuadroImagenes div {
        padding: 10px;
        margin: 2px;
    }

    .formulario {
        width: 100%;
        padding: 1px;
        margin-top: 1px;
    }
}
